{% extends "maykin_common/api/includes/footer.html" %}
{% load static i18n capture_tags %}

{% block footer %}
    {% capture as issues_link silent %}<a class="link link--muted" href="https://github.com/GPP-Woo/GPP-zoeken/issues">issues</a>{% endcapture %}

    {% with issues_link=issues_link %}
        {{ block.super }}
    {% endwith %}

{% endblock %}

{% block links %}
    <li>
        <a class="link link--muted" href="https://gpp-zoeken.readthedocs.io/">
            {% trans "Documentation" %}
        </a>
    </li>
    <li>
        <a class="link link--muted" href="https://hub.docker.com/r/maykinmedia/woo-search">
            {% trans "Docker image" %}
        </a>
    </li>
    <li>
        <a class="link link--muted" href="https://github.com/GPP-Woo/GPP-zoeken">
            {% trans "Code on Github" %}
        </a>
    </li>
{% endblock links %}
