{% extends "maykin_common/api/index_base.html" %}
{% load i18n %}


{% block page_title %}{% trans "GPP Search API" %}{% endblock page_title %}
{% block page_subtitle %}
    {% blocktrans trimmed %}
        Search index and JSON-based API for published WOO documents.
    {% endblocktrans %}
{% endblock page_subtitle %}


{% block content_nl %}
<p>
    De zoekindex en bijhorende API maakt het mogelijk om openbaar
    gemaakte overheidsdocumenten te doorzoeken in het kader van de
    Wet Open Overheid (WOO).
</p>

<p>
    Registratiecomponenten bieden publicaties aan om ze te indexeren
    (of in te trekken).
</p>
{% endblock content_nl %}

{% block content_en %}
<p>
    The search index and accompanying API make it possible to search
    through published government documents in the context of
    the "Open Government Law", for which the Dutch abbreviation is "WOO".
</p>

<p>
    Registration components send publications to this search component
    to initiate indexing (or to retract earlier indexed data).
</p>
{% endblock content_en %}

{% block license_link %}https://github.com/GPP-Woo/GPP-zoeken/blob/main/LICENSE.md{% endblock %}

